<!DOCTYPE html>
<html>
<head>
  <title>My Profile:</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include('partials/_navbar.js') %>
    <div class="item">
        <h1>My Profile</h1>
        <p>Username: <%= user.username %></p>
        <p>First Name: <%= user.firstName %></p>
        <p>Last Name: <%= user.lastName %></p>
        <p>Age: <%= user.age %></p>
        <p>Country: <%= user.country %></p>
        <p>Gender: <%= user.gender %></p>
        <p>Role: <%= user.role %></p>
    </div>

  <footer>Kalibekov Alikhan IT-2207</footer>
</body>
</html>
